html,body{
  margin:0;
  padding:0;
  border:0;
  background-color: #d2d2d2;  
}
.login-screen-wrapper,
.home-screen-wrapper,
.create-screen-wrapper{
  background-color:#d2d2d2;
  padding-bottom:50px;
}
.login-screen-wrapper header,
.home-screen-wrapper header,
.create-screen-wrapper header{
  color:black; text-align:center;
}
.login-screen-wrapper h1 img,
.home-screen-wrapper h1 img,
.create-screen-wrapper h1 img{
  height:44px;
  margin-right:10px;
}
.screen-main {
  background-color:white;
  margin: auto 10% ;
  position:relative;
  background: none repeat scroll 0 0 white;
  border-radius: 32px;
  list-style: outside none none;
  color:black;
  padding: 20px 3%;
  text-align:center;
}
.screen-main textarea,
.screen-main input{
  width: 90%;
}
.screen-main textarea{
  min-height: 100px;
}

#home-btn {
  text-align:center;
  position:fixed;
  top:10px; right:10px;
}
#home-btn img {
  height:32px;
  width:32px;
}
#home-btn span {
  display:block;
}

.home-screen-main {
  background-color:grey;
  margin: auto 10% ;
  position:relative;
  background: none repeat scroll 0 0 white;
  border-radius: 32px;
  list-style: outside none none;
  color:black;
  padding: 20px 3%
}
.homescreenIcon {
  float:left;
  width: 20%;
  min-width: 100px;
  margin-left:7%;
  height: 120px;
  text-align:center;
}
.homescreenIcon span {
  display:block;
}
.clear {clear:both;}
h1 {padding:21px 0; margin:0;}
#MyImage {width:90%}

.onoffswitch {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 18px; margin: 6px;
  background: #FFFFFF;
  border: 2px solid #999999; border-radius: 20px;
  position: absolute; top: 0; bottom: 0; right: 56px;
  -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.setting div input{
  display: block; 
  background: #FFFFFF;
  border: 2px solid #999999; border-radius: 20px;
  text-align:center;
  height:30px;
}
.onoffswitch.on .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch.on .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
.setting{
  position:relative;
  height: 35px;
  margin-bottom:20px;
}
.setting>div {float:left;}
.setting>div.switch-desc{
  margin-top:auto;
  margin-bottom:auto;
  height: 30px; padding: 0; line-height: 35px;
  font-size: 14px; color: black; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  margin-right:10px;
}
#PhotoPreview {
  width:90%;
}
#success span {
    background-color:green;
    border-radius:10px;
    padding: 5px 20px;
}
#error span {
    background-color:darkred;
    border-radius:10px;
    padding: 5px 20px;
}
