$font-stack:  "Gill Sans", Roboto,Verdana, sans-serif;
$primary-color: #333;
$primary-bg-color: #a2d2d2;
//$secondary-bg-color: #e3e3e3;
$secondary-bg-color: #a2d2d2;
$card-bg-color: #FFF;

$icons-active-fill: white;
$icons-inactive-fill: #aaa;
$icons-inactive-bg: gray;

* {
    box-sizing: border-box; 
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $primary-bg-color;
  margin:0;
  padding:0;
  border:0;

}

.toggle_buttons {
  .toggle_button {
    float:left;
    margin-left:1%;
  }

  .inactive {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
          fill:$icons-inactive-fill;
          background-color:$icons-inactive-bg;
    img {
      opacity:0.3;
    }

  }
  .active {
    box-shadow: 0 2px 2px 0 $icons-active-fill, 0 6px 2px 0 $icons-active-fill;
    fill:$icons-active-fill;
  }
  .heart.active{
    background-color:#C75C5C;
  }
  .reply.active{
    background-color:#77B3D4;
  }
  .location.active{
    background-color:#76c2af;
  }

  icon {
      border-radius: 30px;
      width: 50px;
      height: 50px;
      margin-right:5px;
  
      .heart {
          .active {
          }
      }
      span{
          font-size: 8pt;
          overflow:hidden;
      }
  }

}


//grid system
.grid-container {
  width: 100%;
  max-width:1200px;

  .row:before,
  .row:after {
      content:"";
      display:table;
      clear:both;
  }

  .row {
    [class*='col-'] {
      float: left;
      min-height: 1px; 
      /*-- gutter --*/
      padding: 12px;
    }
  }

  .col-1  { width:9.09%; }
  .col-2  { width:18.18%; }
  .col-3  { width:27.27%; }
  .col-4  { width:36.36%; }
  .col-5  { width:45.45%; }
  .col-6  { width:54.54%; }
  .col-7  { width:63.64%; }
  .col-8  { width:72.73%; }
  .col-9  { width:81.82%; }
  .col-10 { width:90.91%; }
  .col-11 { width:100%; }

}

.home-screen {
    margin-left:auto;
    margin-right:auto;
}

.create-screen-wrapper {
  textarea, input{
    width:100%;
  }
  textarea {
    min-height: 100px;
  }
}

.home-screen {
  header {
    text-align:center;
  }
}

.main-menu {
  .row {
    width:100;
    background-color: $card-bg-color;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
    //border-radius:20px;
    margin:4px;
  }
  .menu-label {
    font-size:20pt;
    margin-top:auto;
    margin-bottom:auto;
  }
}


input, textarea{
  margin:5px;
  border-radius: 15px;
  min-height:30px;
  padding:7px 12px;
}
.login-screen-wrapper,
.home-screen-wrapper,
.create-screen-wrapper{
  background-color: $primary-bg-color;
}
.login-screen-wrapper header,
.home-screen-wrapper header,
.create-screen-wrapper header{
  color:black; text-align:center;
}
.screen-main {
  background-color: $secondary-bg-color;
  position:relative;
  background: none repeat scroll 0 0 $secondary-bg-color;
  //border-radius: 32px;
  margin:auto 1%;

  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  max-width:98%;
  border-color: $secondary-bg-color;
  list-style: outside none none;
  color:black;
  padding: 20px 3%;
  text-align:center;
}
.screen-main textarea{
}

#home-btn {
  text-align:center;
  position:fixed;
  top:10px; right:10px;
}
#home-btn img {
  height:32px;
  width:32px;
}
#home-btn span {
  display:block;
}

.clear {clear:both;}
#MyImage {width:90%}

.onoffswitch {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-weight: bold;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 18px; margin: 6px;
  background: #FFFFFF;
  border: 2px solid #999999; border-radius: 20px;
  position: absolute; top: 0; bottom: 0; right: 56px;
  -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.setting div input{
  display: block; 
  background: #FFFFFF;
  border: 2px solid #999999; border-radius: 20px;
  text-align:center;
  height:30px;
}
.onoffswitch.on .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch.on .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
.setting{
  position:relative;
  height: 35px;
  margin-bottom:20px;
}
.setting>div {float:left;}
.setting>div.switch-desc{
  margin-top:auto;
  margin-bottom:auto;
  height: 30px; padding: 0; line-height: 35px;
  font-size: 14px; color: black; font-weight: bold;
  margin-right:10px;
}
#PhotoPreview {
  width:90%;
}
#success div {
    background-color:#8ce196;
    border-radius:10px;
    padding: 5px 20px;
}
#error div {
    background-color:#e18c96;
    border-radius:10px;
    padding: 5px 20px;
}
#input-syndication-wrapper{
    text-align:left;
    margin-left:20%;
}
#input-syndication-wrapper > div{
    padding:4px;
}
.switch input { 
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.switch input + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
.switch input + label {
  padding: 2px;
  height: 30px;
}
.switch input + label:before,
.switch input + label:after {
  display: inline-block;
  position: absolute;
  top: 1px;
  left: -60px;
  bottom: 1px;
  content: "";
}
.switch input + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 30px;
  background-color: #dddddd;
  transition: background 0.4s;
  width:60px;
}
.switch input + label:after {
  width: 28px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
.switch input:checked + label:before {
  background-color: #8ce196;
}
.switch input:checked + label:after {
  margin-left: 30px;
}
#control-buttons button {
  background-color: #8ce196;
  border-color: #8ce196;
  border-radius: 30px;
  height:30px;
  min-width:60px;       
  margin-right:20px;
} 
#control-buttons button[disabled] {
  background-color: lightgray;
  border-color: lightgray;
}

