//$secondary-bg-color: #e3e3e3;
$secondary-bg-color: #a2d2d2;
$card-bg-color: #FFF;

$icons-active-fill: white;
$icons-inactive-fill: #aaa;
$icons-inactive-bg: gray;

$first-palette-white: #e9fafb;
$first-palette-bright: #56b5ba;
$first-palette-dark: #075457;
$first-palette-black: #000a0b;

$second-palette-white: #f2feeb;
$second-palette-bright: #9ae96b;
$second-palette-dark: #753e09;
$second-palette-black: #061000;

$third-palette-white: #ecedfc;
$third-palette-bright: #6d6fca;
$third-palette-dark: #151765;
$third-palette-black: #00010c;

@import 'https://fonts.googleapis.com/css?family=Open+Sans:600|Source+Sans+Pro:600,400|Roboto:400';

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 1.30;
    opacity: 1.00;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: -0.72px;
    word-spacing: 0.00px;
    text-transform: none;
}

h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.25;
    opacity: 1.00;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: -0.72px;
    word-spacing: 0.00px;
    text-transform: none;
}

h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.20;
    opacity: 1.00;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: 0.00px;
    word-spacing: 0.00px;
    text-transform: none;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.60;
    opacity: 0.70;
    margin-top: 0px;
    margin-bottom: 25px;
    letter-spacing: -0.30px;
    word-spacing: -0.10px;
    text-transform: none;
}


.left {
    text-align: left
}
.center {
    text-align: center
}
.right {
    text-align: right
}

.red {
  color:red;
}

* {
    box-sizing: border-box; 
}

.logo {
  float:left;

  img {
    width:25px;
  }
}

body {
  color: $second-palette-black;
  background-color: $third-palette-white;
  margin:0;
  padding:0;
  border:0;

  header {
    background-color: $first-palette-bright;
    padding:1%;
    
    .homelogo {
      width:100px;
    }

    .back-icon {
      img {
       width:50px;
       float:left;
      }
    }

    .hometitle {
      text-align:center;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
      display:block;
    }

    .settings-title {
      display:block;
      margin-top:15px;
    }

    .title {
      font-weight:bold;
      text-align:center;
      font-size: 20pt;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
      display:inline;
    }

    .user {
      float:right;
      height:30px;

      img {
        height:30px;
        width:30px;
      }

      span {
        height:30px;
        padding:6px;
        float:right;
      }
    }
  }

  .main-wrapper {
    margin-left:auto;
    margin-right:auto;
    padding:1%;
  }

  textarea, input{
    width:100%;
  }
  textarea {
    min-height: 100px;
  }

  header {
    text-align:center;
  }

}

#login_form{
  input {
    width:79%;
    padding:5px 10px;
    border-radius: 10px 0px 0px 10px;
    margin-right:0;
  }
  button {
    width:19%;
    padding:5px;
    margin-left:0;
    border-radius: 0px 10px 10px 0px;
    font-weight:bold;
  }
}

.toggle_buttons .toggle_button {
  cursor:pointer;
  float:left;
  width:100%;
  width:100%;
  padding:3px;


  .icon.inactive {

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
    fill:$icons-inactive-fill;
    background-color:$icons-inactive-bg;

    img {
      opacity:0.3;
    }
  }

  .icon.active {
    box-shadow: 0 2px 2px 0 $icons-active-fill, 0 6px 2px 0 $icons-active-fill;
    fill:$icons-active-fill;
  }
  .heart.active{
    background-color:#C75C5C;
  }
  .reply.active{
    background-color:#77B3D4;
  }
  .location.active{
    background-color:#76c2af;
  }


  .label{
      font-size: 8pt;
      overflow:hidden;
      text-align:center;
      width:100%;
  }
  .icon{
    border-radius: 30px;
    width: 50px;
    height: 50px;
    margin-right:auto;
    margin-left:auto;
  }
}

.post_inputs{
  input {
    padding:10px;
  }
  textarea{
    padding:10px;
  }
}

//grid system
.grid-container {
  width: 100%;
  max-width:1200px;

  .row:before,
  .row:after {
      content:"";
      display:table;
      clear:both;
  }

  .row {
    [class*='col-'] {
      float: left;
      min-height: 1px; 
      /*-- gutter --*/
      padding: 12px;
    }
  }

  .col-1  { width:8.33%;  }
  .col-2  { width:16.67%; }
  .col-3  { width:25.00%; }
  .col-4  { width:33.33%; }
  .col-5  { width:41.67%; }
  .col-6  { width:50.00%; }
  .col-7  { width:58.33%; }
  .col-8  { width:66.67%; }
  .col-9  { width:75.00%; }
  .col-10 { width:83.33%; }
  .col-11 { width:91.67%; }
  .col-12 { width:100%;   }

}
.list_values {
    list-style-type: none;
    .list_value {
        float:left;
        background-color:white;
        border-radius:20px;
        padding:4px 6px;
        border: 1px solid gray;
        margin-right:5px;

        .list_item_remove {
            background-color:gray;
            border-radius:20px;
            height:10px;
            width:10px;
            overflow:hidden;
            cursor:pointer;
        }
    }
}

.main-menu {
  .card {
    background-color: $card-bg-color;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
    //border-radius:20px;
    margin-top:14px;
    img {
      padding:15px;
    }
    .saved-card-data {
      height:100px;
    }
    .saved-menu-label {
      font-size:20pt;
    }
    .menu-label {
      font-size:20pt;
      margin-top:auto;
      margin-bottom:auto;
      display:block;
      text-align:center;
      margin-top:30px;
    }
  }

  .saved-card {
    img {
      width:45px;
      padding:1px;
      margin-left:15px;
    }
  }
}

.setting_box {
    background-color: $card-bg-color;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
    //border-radius:20px;
    margin:2%;
    margin-left:auto;
    margin-right:auto;
}

.control-buttons {
  button {
    cursor:pointer;
    background-color: $second-palette-bright;
    border-radius:30px;
    font-weight:bold;
    padding:10px;
  }
  button[disabled] {
    background-color: grey;
  }
}




@media all and (max-width:900px){
  .grid-container {
	.col-1  { width: 16.67%; }
	.col-2  { width: 33.33%; }
	.col-3  { width: 50%;    }
	.col-4  { width: 66.67%; }
	.col-5  { width: 83.33%; }
	.col-6  { width: 100%;   }
	.col-7  { width: 100%;   }
	.col-8  { width: 100%;   }
	.col-9  { width: 100%;   }
	.col-10 { width: 100%;   }
	.col-11 { width: 100%;   }
	.col-12 { width: 100%;   }

    .sm-col-1  { width: 16.67%; }
    .sm-col-2  { width: 33.33%; }
    .sm-col-3  { width: 50%;    }
    .sm-col-4  { width: 66.67%; }
    .sm-col-5  { width: 83.33%; }
    .sm-col-6  { width: 100%;   }
    .sm-col-7  { width: 100%;   }
    .sm-col-8  { width: 100%;   }
    .sm-col-9  { width: 100%;   }
    .sm-col-10 { width: 100%;   }
    .sm-col-11 { width: 100%;   }
    .sm-col-12 { width: 100%;   }
  }

  body header .hometitle {
    font-size: 25pt;
  }
}

@media all and (max-width:600px){
  .grid-container {
	.col-1  { width: 25%;  }
	.col-2  { width: 50%;  }
	.col-3  { width: 75%;  }
	.col-4  { width: 100%; }
	.col-5  { width: 100%; }
	.col-6  { width: 100%; }
	.col-7  { width: 100%; }
	.col-8  { width: 100%; }
	.col-9  { width: 100%; }
	.col-10 { width: 100%; }
	.col-11 { width: 100%; }
	.col-12 { width: 100%; }

    .x-sm-col-1  { width: 25%;  }
    .x-sm-col-2  { width: 50%;  }
    .x-sm-col-3  { width: 75%;  }
    .x-sm-col-4  { width: 100%; }
    .x-sm-col-5  { width: 100%; }
    .x-sm-col-6  { width: 100%; }
    .x-sm-col-7  { width: 100%; }
    .x-sm-col-8  { width: 100%; }
    .x-sm-col-9  { width: 100%; }
    .x-sm-col-10 { width: 100%; }
    .x-sm-col-11 { width: 100%; }
    .x-sm-col-12 { width: 100%; }
  }
  .right {text-align:center;}
  .left {text-align:center;}

  body header .hometitle {
    font-size: 20pt;
  }

}

